<!DOCTYPE html>
<html lang="en">

<head>
    <a href=""></a>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<header>
    <a href="{% url 'login' %}"
        style="color: white; text-decoration: none; background-color: #2b2cb0; padding: 8px 16px; border-radius: 5px; font-weight: bold; font-size: 1em;">
        Logout</a>
    <a href="{% url 'home' %}"
        style="color: white; text-decoration: none; background-color: #2b2cb0; padding: 8px 16px; border-radius: 5px; font-weight: bold; font-size: 1em;">
        Home</a>
    <a href="{% url 'dashboard' %}"
        style="color: white; text-decoration: none; background-color: #2b2cb0; padding: 8px 16px; border-radius: 5px; font-weight: bold; font-size: 1em;">
        Dashboard</a>
    <a href="{% url 'consolation' %}"
        style="color: white; text-decoration: none; background-color: #2b2cb0; padding: 8px 16px; border-radius: 5px; font-weight: bold; font-size: 1em;">
        Consolation</a>
    <a href="{% url 'patient' %}"
        style="color: white; text-decoration: none; background-color: #2b2cb0; padding: 8px 16px; border-radius: 5px; font-weight: bold; font-size: 1em;">
        Patient</a>
    <a href="{% url 'schedule' %}"
        style="color: white; text-decoration: none; background-color: #2b2cb0; padding: 8px 16px; border-radius: 5px; font-weight: bold; font-size: 1em;">
        Schedule</a>

</header>

<body>
    <h1>Home Page</h1>
</body>

</html>